1view/node_modules/*
1view/package-lock.json

1view/.pnp
.pnp.js

# testing
1view/coverage

# production
1view/build

# misc
1view/.DS_Store
1view/.env.local
1view/.env.development.local
1view/.env.test.local
1view/.env.production.local

1view/npm-debug.log*
1view/yarn-debug.log*
1view/yarn-error.log*